#root{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

.mainSection{
    flex-grow: 1;
    overflow: hidden;
  }

.logo{
    height: 80px;
    object-fit: cover;
}

.Navbar{
    background-color: #7FF0EB;
}

.Navbar #boton-nav:hover{
  transition-duration: 0.5s;
  background-color: #1B3C4F ;  
  color: white ;
}
footer .boton-nav:hover{
  transition-duration: 0.5s;
  background-color: #1B3C4F ;  
  color: white ;
}

.img-carousel{
  height: 550px;
  object-fit: cover;
}

.fondo1{
  background-color: #FBD7BA;
}

.fondo2{
  background-color: #bff5f7;
}