#root{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

.mainSection{
    flex-grow: 1;
    overflow: hidden;
  }

.logo{
    height: 80px;
    object-fit: cover;
}

.Navbar{
    background-color: #7FF0EB;
}

.Navbar #boton-nav:hover{
  transition-duration: 0.5s;
  background-color: #1B3C4F ;  
  color: white ;
}
footer .boton-nav:hover{
  transition-duration: 0.5s;
  background-color: #1B3C4F ;  
  color: white ;
}

.img-carousel{
  height: 550px;
  object-fit: cover;
}

.fondo1{
  background-color: #FBD7BA;
}

.fondo2{
  background-color: #bff5f7;
}

@media (min-width: 360px)
{
  #contenedorRegistro{
    background-color: #bff5f7;
  }
  .principal{
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
    padding-bottom: 360px;
  }
  .textoprincipal{
    background-color: rgba(255, 255, 255, 0.473);
  }
  .imagenDetalle{
    height: 150px;
    object-fit: cover;
  }
}

@media (min-width: 992px){
#fondoRegistro{
  background-image: url(./assets/Imagen-carrousel1.png);
  background-repeat: no-repeat;
  background-size: cover;
  }
#contenedorRegistro{
  background-color: #bff5f794;
}
.principal{
  background-repeat: no-repeat;
  background-size: cover;
  height: 900px;
  object-fit: cover;
}
.textoprincipal{
  background-color: rgba(255, 255, 255, 0.473);
  margin-top: 300px;
}
.imagenDetalle{
  height: 300px;
  object-fit: cover;
}
}

.Foto{
 height: 200px;
 object-fit: cover;
}